# Node / Frontend
**/node_modules/
**/dist/
**/.angular/cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java / Maven / Backend
**/target/
*.jar
*.war

# IDEs
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# OS files
.DS_Store
Thumbs.db
